.container {
    border: solid 2px black;
}

.item {
    font-size: 2em;
    border: solid 2px black;
    text-align: center;
}

.header {
    border: solid 2px black;
    background-color: whitesmoke;
    margin: 5px;
}

.menuLeft {
    border: solid 2px black;
    background-color: white;
    display: flex;
    flex-direction: row;
}

#min {
    display: flex;
}

#sec {
    display: flex;
}

#m {
    display: flex;
}

#s {
    display: flex;
}

.content {
    border: solid 2px black;
    background-color: #DDDDDD;
}

.footer {
    border: solid 2px black;
    background-color: ghostwhite;
    margin: 5px;
}

.contentBody {
    margin: 5px auto 5px;
    width: 100%;
    overflow: hidden;
    background-color: whitesmoke;
}

.contentLeft {
    margin: 5px;
    float: left;
    min-height: 100px;
    height: 85%;
    margin: 0 5px 0 5px;
    width: 100%;
}

.contentRight {
    margin: 5px;
    float: left;
    min-height: 100px;
    margin-left: 5px;
    ;
    height: 85%;
    width: 100%;
    font-size: 15px;
    text-align: left;
}

#chronotime {
    margin-left: 10px;
    width: 5%;
    height: 5%;
    border: solid 2px black;
    background-color: ghostwhite;
}

.mw-content-text < p {
    flex-direction: row-reverse;
}

.infobox_v2 {
    display: flex;
    flex-direction: row-reverse;
    background: #f9f9f9;
    color: #000;
    font-size: 90%;
    line-height: 1.2em;
    float: right;
    clear: right;
    margin: 0 0 .5em 1em;
    width: 294px;
    border: 1px solid #aaa;
    border-spacing: 5px;
}

p {
    text-align: left;
    display: : flex;
    flex-direction: row-reverse;
}

.toc {
    background-color: #f9f9f9;
    border: 1pt solid #aaa;
    padding: 5px;
    display: table
}

.mw-highlight {
    background-color: #f9f9f9;
    border: 1pt solid #aaa;
    padding: 5px;
    display: table
}
